.navbar-brand {
    color: red;
}

.navbar-nav li {
    color: red;
}

.nav-item a {
    color: red;
}

.productstable {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mod {
    display: flex;
    justify-content: center;
    align-items: center;
}