.kiform {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
    border: 1.5px solid white;
    border-radius: 20px;
    width: 350px;
    height: 380px;
    backdrop-filter: blur(5px);
    margin-left: 470px;
    margin-top: 60px;
}

body{
    background-image: url(https://img.freepik.com/free-photo/black-friday-sales-sign-neon-light_23-2151833076.jpg?semt=ais_hybrid&w=740&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
label{
    color: white;
    font-weight: 40px;
}
input{
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 5px;
}
.btn{
    color: white;
    margin: 40px;
    padding: 5px 20px;

}