<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/index.css">
    <title>Document</title>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top bs-primary-rgb" data-bs-theme="dark">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <nav class="navbar bg-body-tertiary">
                    <div class="container">
                        <a class="navbar-brand" href="#">
                            <img src="https://www.shutterstock.com/image-vector/shop-logo-good-260nw-1290022027.jpg"
                                alt="" width="30" height="30" style="border-radius: 20px;"
                                class="d-inline-block align-text-top">
                            Myduka DB
                        </a>
                    </div>
                </nav>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav nav-underline">
                        <li class="nav-item active" arial-current="page">
                            <a class="nav-link active" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/products">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sales">Sales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/stock">Stock</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="https://images.ctfassets.net/4f3rgqwzdznj/3OXVYEu6riSLXIHbwhjJWs/6b2da4894c972fd8d1e668e4d64a86b3/woman_at_grocery_store_1589458067.jpg"
                        class="d-block w-100" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Modern trade!</h5>
                        <p>We make business together>>></p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://images.unsplash.com/photo-1664455340023-214c33a9d0bd?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2hvcHBpbmclMjBjYXJ0fGVufDB8fDB8fHww&fm=jpg&q=60&w=3000"
                        class="d-block w-100" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Let's get started!</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="aboutus">
            <div class="about_details">
                <h2>Why Choose MyDuka<br> POS?</h2>
                <p>This pos is designed for businesses of all sizes.Whether small or large,<br> our system adapts to
                    your
                    needs. </p>
                <ul>
                    <li><span style="color: #008bf8;">User-friendly Interface</span> - intuitive design that anyone can
                        manage</li>
                    <li><span style="color: #008bf8;">Real-time Updates</span> - stock levels update automatically</li>
                    <li><span style="color: #008bf8;">Comprehensive Reports</span> - track sales, profits and
                        performance</li>
                    <li><span style="color: #008bf8;">Secure & reliable</span> - your data is safe with us</li>
                    <li><span style="color: #008bf8;"> No Hidden Costs</span> - transparent pricing</li>
                </ul>
            </div>
            <div class="card text-center" style="width: 32rem;">
                <div class="card-body">
                    <h6 class="card-title">Special title treatment</h6>
                    <p class="card-text">"Our pos has transformed how we manage our business. The invetory tracking
                        alone
                        has saved us countless hours and prevented stockouts"</p>
                    <h6>Business owner</h6>
                    <p>Retail store</p>
                </div>
            </div>
        </div>

        <div class="card text-center">
            <div class="card-header">
                Featured by myduka
            </div>
            <div class="card-body">
                <h5 class="card-title">About us</h5>
                <p class="card-text">Thank you for visiting our store! We strive to offer top-quality products and
                    excellent customer service. Stay connected for updates, promotions, and exclusive offers. Your
                    satisfaction is our priority!</p>
                <h6>Contact us!</h6>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a><br>
                <a href="#" class="btn btn-primary">Email Us</a>
            </div>
            <div class="card-footer text-body-secondary">
                2 days ago
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
            integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
            crossorigin="anonymous"></script>
    </div>
</body>

</html>